@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

/* Scrollbar */
.gallery-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 130, 246, 0.35) transparent;
}

.gallery-scroll::-webkit-scrollbar {
  height: 8px;
}

.gallery-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 999px;
}

.gallery-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(59, 130, 246, 0.25);
  border-radius: 999px;
  border: 2px solid rgba(5, 8, 22, 1);
}

.gallery-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(59, 130, 246, 0.7);
}

/* Glow animation */

@keyframes pulseGlow {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.08);
  }

  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.glow-orb {
  animation: pulseGlow 8s ease-in-out infinite;
}